<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anshul.pokemongopokedex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/poklogo"
        android:label="Pokédex"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    <meta-data
        android:name="android.app.default_searchable"
        android:value=".SearchActivity" />

        </activity>
        <activity android:name=".details" android:screenOrientation="portrait"/>
        <activity android:name=".Evolution" android:screenOrientation="portrait"/>
        <activity android:name=".Powerup" android:screenOrientation="portrait"/>
        <activity android:name=".eevelution" android:screenOrientation="portrait" />
    </application>

</manifest>